@model Cinema

@{
    ViewData["Title"] = "Add New cinnema";
}

<div class="row text">
    <div class="col-md-6 offset-md-3">
        <p>
        <h4 class="text-info"> Add New Actor</h4>
        </p>
         <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             
            <div class="form-group text-center">
                <img id="logoPreview" class="border-info rounded-circle" style="max-width:150px"/>
            </div>

            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                <a asp-action="Index" class="btn btn btn-outline-secondary">Show All</a>
            </div>
        </form>
    </div>
</div>


@section Scripts{
<script>
    $(document).ready(function (){
         var output=document.getElementById('logoPreview');
        output.src=$('#Logo').val();
    })
    $('#Logo').on("change",function(){
        var output=document.getElementById('logoPreview');
        output.src=$(this).val();
    })

</script>
}


